p {
    font-size: 16px;
    color: red;
    font-weight: bold;
    background: black;
}

    
div.block2
{
    
    background: green;
    margin: 10px; /* margin ir atstarpe ārpus elementa, padding - iekšpus elementa*/
    padding: 5px;
    border: 2px solid black;
}
